<div id="token" style="display: none"><%= token %></div>

<div>Redirect...</div>

<script>
	localStorage.setItem('token', document.getElementById('token').innerHTML);
	window.location.replace("http://dev.fastdonate.local/");
</script>